.footer-form-button {
  @extend %button;

  margin-left: 12px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-form-button__icon {
  margin-left: 10px;

  width: 24px;
  height: 24px;

  fill: $white-color;
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: $white-color;
  border: 1px solid $border-close-color;
  border-radius: 50%;

  cursor: pointer;
}

.button-modal-close__icon {
  width: 11px;
  height: 11px;

  fill: $logo-hedeader-color;

  transition: fill 250ms $cubic;

  .button-modal-close:hover &,
  .button-modal-close:focus & {
    fill: $link-text-color;
  }
}

.start-form-button {
  @extend %button;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px $shadow-color;
  }
}
