.footer {
  margin-left: auto;
  margin-right: auto;

  background-color: $background-footer-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
  }

  @media (min-width: 1200px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;

      justify-content: space-between;
    }
  }
}

.address-group,
.social-network-group {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
  }
}

.address {
  color: $white-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  color: $address-link-color;
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $link-text-color;
  }
}

// min-width: 1200
// .social-network-group {
//   margin-left: 70px;
// }

.social-network-group__text {
  margin-bottom: 20px;

  color: $white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-social-network-list {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.footer-social-network__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-network__link {
  @extend %social-network-link;

  background-color: $background-footer-social-link;

  &:focus,
  &:hover {
    background-color: $link-text-color;
    color: $border-portfolio-color;
  }
}

.footer-social-network__icon {
  width: 20px;
  height: 20px;

  fill: $white-color;
}

.footer-form {
  // min-width: 1200px
  // margin-left: 93px;
  max-width: 570px;

  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-form__text {
  margin-bottom: 20px;

  color: $white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form__field {
  height: 50px;

  padding: 15px;

  border: 1px solid $address-link-color;
  border-radius: 4px;

  @media screen and (min-width: 320px) {
    min-width: 290px;
  }

  @media screen and (max-width: 479px) {
    max-width: 354px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 354px;
  }
}

.footer-form__field:placeholder-shown {
  background-color: transparent;
  color: $address-link-color;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form__field:not(:placeholder-shown) {
  background-color: transparent;
  color: $address-link-color;
}
