.header {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;

    color: $link-text-color;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__header {
  color: $logo-hedeader-color;
}

.footer {
  .logo {
    display: inline-block;
    margin-bottom: 20px;

    color: $link-text-color;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__footer {
  color: $white-color;
}
