.our-pluses {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-pluses-list {
  display: flex;
  flex-wrap: wrap;
}

.our-pluses-list__iteam {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.our-pluses-list__title-text {
  margin-bottom: 10px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-pluses-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-pluses-list__icon-box {
  background-color: $background-color-primery;
  height: 120px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
}

.our-pluses-list__icon {
  width: 70px;
  height: 70px;
}
