.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// Навигация портфолио

.portfolio-nav-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-bottom: 50px;

  @media (min-width: 768px) {
    justify-content: center;
    margin-bottom: 14px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio-nav-list__iteam {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.portfolio-nav-list__button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  background-color: $background-color-primery;
  color: $title-text-color;

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;

  transition: background-color 250ms $cubic, color 250ms $cubic,
    box-shadow 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $link-text-color;
    color: $white-color;
    box-shadow: 0px 4px 4px 0px $shadow-color;
  }

  &--active {
    background-color: $link-text-color;
    color: $white-color;
  }
}

// Контейнер с карточками

.portfolio-section-list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    align-items: stretch;
  }
}

.portfolio-section-list__iteam {
  width: 100%;
  margin-bottom: 30px;

  &:not(:last-child) {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 1) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.portfolio-section-list__link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms $cubic;

  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px $shadow-color;
  }

  .overlay {
    color: $white-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: 0.03em;
  }
}

.portfolio-section-list__card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  flex-grow: 1;

  border-left: 1px solid $border-portfolio-color;
  border-right: 1px solid $border-portfolio-color;
  border-bottom: 1px solid $border-portfolio-color;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.portfolio-section-list__title-text {
  margin-bottom: 4px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-section-list__text {
  color: $main-text-color;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-card-img {
  position: relative;
  overflow: hidden;

  height: 294px;
}

.portfolio-card-img img {
  width: 100%;
  height: 100%;

  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  min-height: 100%;

  background-color: $background-overlay;
  padding: 63px 24px;

  transform: translateY(101%);

  transition: transform 250ms $cubic;

  .portfolio-section-list__link:hover &,
  .portfolio-section-list__link:focus & {
    transform: translateY(0);
  }
}
