$main-text-color: #757575;
$title-text-color: #212121;
$link-text-color: #2196f3;
$textarea-text-color: rgba(117, 117, 117, 0.5);

$background-footer-color: #2f303a;
$background-footer-social-link: rgba(255, 255, 255, 0.1);
$background-color-primery: #f5f4fa;
$background-overlay: rgba(33, 150, 243, 0.9);
$background-backdrop: rgba(0, 0, 0, 0.2);
$background-work-list: rgba(38, 41, 66, 0.8);

$border-portfolio-color: #eeeeee;
$border-close-color: rgba(0, 0, 0, 0.1);
$border-form-color: rgba(33, 33, 33, 0.2);

$white-color: #ffffff;
$logo-hedeader-color: #000000;
$address-link-color: rgba(255, 255, 255, 0.6);

$svg-icon-color: #afb1b8;

$shadow-color: rgba(0, 0, 0, 0.25);

$main-text-family: roboto;
$main-text-weight: 400;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
